a, article, aside, b, blockquote, body, cite, code, dd, del, details, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, label, legend, li, nav, ol, p, pre, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, video, audio {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

body {
  min-width: 1024px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Overpass", "Arial", sans-serif;
  background: url(../img/bg.png); }

a {
  font-weight: 700;
  color: #ab36ce;
  text-decoration: none;
  transition: color 0.3s linear; }
  a:hover {
    color: #f9934a; }

.cv {
  width: 85%;
  max-width: 900px;
  margin: 50px auto;
  border: 20px solid #ab36ce;
  -o-border-image: linear-gradient(45deg, #f9934a, #ab36ce);
     border-image: linear-gradient(45deg, #f9934a, #ab36ce);
  border-image-slice: 1;
  box-shadow: -11px 15px 31px 5px rgba(50, 50, 50, 0.5); }

.cv__inner {
  padding: 30px;
  background: #fff;
  border: 3px solid #323232; }

.cv__header {
  padding: 10px 0 50px;
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase; }
  .cv__header .cv__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }

.cv__row {
  display: flex;
  flex-wrap: wrap; }

.cv__left {
  width: 40%;
  padding-right: 30px; }

.cv__right {
  width: 60%;
  padding-left: 30px; }

.cv__content {
  padding-bottom: 10px; }
  .cv__content .cv__left .cv__title-medium::before {
    content: none; }
  .cv__content .cv__right {
    position: relative; }
    .cv__content .cv__right::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 3px;
      height: calc(100% - 10px);
      background: linear-gradient(0deg, #f9934a, #ab36ce); }

.cv__image {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 110%;
  margin: 0 auto;
  border-radius: 10px 70px 10px 70px;
  border: 1px solid #323232;
  box-shadow: 0px 0px 7px 2px rgba(50, 50, 50, 0.5);
  overflow: hidden; }
  .cv__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.cv__title {
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 1.1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.01em; }

.cv__title-medium {
  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase; }
  .cv__title-medium::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -33px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: linear-gradient(45deg, #f9934a 0%, #ab36ce 100%); }

.cv__section:not(:last-child) {
  margin-bottom: 35px; }

.cv__list {
  list-style-type: none; }
  .cv__list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px; }
    .cv__list li::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 2px;
      width: 5px;
      height: 5px;
      background: #323232;
      transform: rotate(45deg); }

.cv__accent {
  padding: 4px 4px 3px;
  background: rgba(172, 172, 172, 0.3);
  border-radius: 3px; }

.cv__block {
  margin-bottom: 4px; }

.cv__contacts {
  display: flex;
  flex-wrap: wrap; }
  .cv__contacts dt {
    width: 100%;
    margin-bottom: 7px; }
  .cv__contacts dd {
    width: 100%;
    margin-left: auto;
    margin-bottom: 15px; }
