meta(charset="utf-8")
// Gets title text from page top comment variable title
title= title || "Alexandra Kashina Resume"
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="Alexandra Kashina: resume for hiring")

link(href="https://fonts.googleapis.com/css?family=Overpass:400,700" rel="stylesheet")
link(rel="stylesheet" media="all" href="./css/app.css")