extends ./templates/_skeleton

block content
    .content
        .decor.decor--1
        .decor.decor--2.decor--invert
        article.cv
            .cv__inner
                header.cv__header
                    div
                        h1.cv__title 
                            span.name Alexandra 
                            <br /> 
                            | Kashina
                        p.cv__prof frontend developer (#[strong react.js])
                    div.cv__desc
                        p 
                        | As a Front-End Developer, I have #[strong 4 years] of experience in 
                        | creating seamless user interfaces.
                        p 
                        | I'm eager to explore new opportunities and contribute to exciting 
                        | projects. I'm enthusiastic about quality, 
                        | collaboration, and user experience. 
                        p 
                        | #[strong Let's connect] and see how I can 
                        | add value to your team and organization.


                .cv__content
                    .cv__left
                        section.cv__section
                            h2.cv__card.cv__subtitle Contacts
                            dl.cv__contacts
                                dt Phone:
                                dd
                                    a(href="tel:+48572164038") +48 572 164 038
                                dt Email:
                                dd
                                    a(href="mailto:allie.que.sonrie@gmail.com") allie.que.sonrie@gmail.com
                                dt GitHub:
                                dd
                                    a(href="https://github.com/Elianta/" target="_blank" rel="noopener noreferrer") elianta
                                dt Location:
                                dd 
                                    a(href="https://maps.app.goo.gl/NYPbDbzwroMr8mt8A" target="_blank" rel="noopener noreferrer") Warsaw, Poland

                        section.cv__section
                            h2.cv__card.cv__subtitle Skills
                            ul.cv__list
                                li JavaScript, TypeScript
                                li React.js, Next.js
                                li Redux, RTK Query
                                li HTML5, CSS3
                                li Git
                                li Pug, SASS, Styled-components
                                li Gulp, Webpack
                                li Cross-browser Compatibility
                                li Debugging, React Developer Tools
                                li Jest, Vitest

                        section.cv__section
                            h2.cv__card.cv__subtitle Projects
                            ul.cv__list
                                li
                                    a(href='https://fh.by/' target='_blank') fh.by
                                li
                                    a(href='https://terkan.ru/' target='_blank') terkan.ru
                                li
                                    a(href='https://solana.multisender.app/' target='_blank') Solana Multisender
                                li
                                    a(href='https://movado-group.ru/' target='_blank') movado-group.ru
                                li
                                    a(href='https://alutech.ru' target='_blank') alutech.ru
                                li
                                    a(href='https://bulba.com/' target='_blank') bulba.com

                    .cv__right
                        section.cv__section
                            h2.cv__card.cv__subtitle Experience
                            ul.cv__list
                                li
                                    p.cv__block
                                        a(href='https://dev.family/' target='_blank') dev.family
                                        | , Minsk, Belarus
                                    p.cv__block
                                        b Frontend Developer
                                        | ,
                                        span.cv__accent 
                                            time(datetime="2020-04") April 2020
                                            |   &ensp;&ndash;&ensp;
                                            time(datetime="2022-09") September 2022
                                        p.cv__block
                                        | Team-lead position. Participation in the hiring process, conducted interviews, provided training, and code reviews.
                                        p.cv__block 
                                        | Architecting and maintaining a npm package for an internal product from scratch.
                                        p.cv__block 
                                        | Work on multiple diverse projects, ranging from multi-page websites to large-scale e-commerce platforms.
                                li
                                    p.cv__block
                                        a(href='https://websecret.by' target='_blank') Web Secret
                                        | , Minsk, Belarus
                                    p.cv__block
                                        b Frontend Developer
                                        | ,
                                        span.cv__accent 
                                            time(datetime="2019-08") August 2019
                                            |   &ensp;&ndash;&ensp;
                                            time(datetime="2020-04") April 2020
                                        p.cv__block
                                        | Creating online stores, news portals using React.js with Next.js framework.
                                li
                                    p.cv__block
                                        a(href='https://flex.media/' target='_blank') Flex.Media
                                        | , Minsk, Belarus
                                    p.cv__block
                                        b Frontend Developer
                                        | ,
                                        span.cv__accent 
                                            time(datetime="2018-08") August 2018
                                            |   &ensp;&ndash;&ensp;
                                            time(datetime="2019-07") July 2019
                                        p.cv__block
                                        | Creating adaptive websites according to Figma Design
                                        | Template using HTML, CSS and JS, maintaining and improving
                                        | website.
                                li
                                    a.cv__block(href='https://www.acdlabs.com/' target='_blank') Advanced Chemistry Development, Inc.
                                    | , Minsk, Belarus
                                    p.cv__block
                                    b QA Engineer
                                    | ,
                                    span.cv__accent 
                                        time(datetime="2014-03") March 2014
                                        |   &ensp;&ndash;&ensp;
                                        time(datetime="2017-08") August 2017
                                    p.cv__block
                                    | Testing of the software solutions for scientists in
                                    | chemical, biochemical and pharmaceutical R&amp;D.

                        section.cv__section
                            h2.cv__card.cv__subtitle Education
                            ul.cv__list.cv__list--aligned
                                li
                                    span.cv__accent
                                        time(datetime="2023-09") 2023:
                                    |  NodeJS
                                    a(href='https://app.rs.school/certificate/8peneto7' target='_blank') The Rolling Scopes School
                                li
                                    span.cv__accent 
                                        time(datetime="2017") 2017:
                                    |  JavaScript basic course
                                    a(href='https://assets.htmlacademy.ru/certificates/intensive/49/84441.pdf' target='_blank') htmlacademy.ru
                                li
                                    span.cv__accent
                                        time(datetime="2016") 2016:
                                    |  HTML &amp; CSS advanced course
                                    a(href='https://assets.htmlacademy.ru/certificates/intensive/30/84441.pdf' target='_blank') htmlacademy.ru
                                li
                                    span.cv__accent 
                                        time(datetime="2015") 2015:
                                    |  HTML &amp; CSS basic course
                                    a(href='https://assets.htmlacademy.ru/certificates/intensive/10/84441.pdf' target='_blank') htmlacademy.ru
                                li
                                    span.cv__accent 
                                        time(datetime="2010") 2010
                                        |   &ensp;&ndash;&ensp;
                                        time(datetime="2015") 2015:
                                    div 
                                        p
                                        |   Belarusian State University - Minsk, Belarus
                                        p 
                                        | Bachelor's degree in Analytical Chemistry
                        section.cv__section
                            h2.cv__card.cv__subtitle Languages
                            ul.cv__list
                                li
                                    b Russian
                                    | :
                                    span.cv__accent Native
                                li
                                    b English
                                    | :
                                    span.cv__accent B2 level