extends ./templates/_skeleton

block content
    article.cv
      .cv__inner
        header.cv__header.cv__row
          .cv__left
            .cv__image
              picture
                source(srcset="./img/me.webp, ./img/me@2.webp 2x", type="image/webp")
                source(srcset="./img/me.jpg, ./img/me@2.jpg 2x", type="image/jpeg")
                img(src="./img/me.jpg", alt="My photo")

          .cv__right
            h1.cv__title Alexandra <br /> Kashina
            p frontend developer

        .cv__content.cv__row
            .cv__left
                section.cv__section
                    h2.cv__title-medium Contacts
                    dl.cv__contacts
                        dt Phone:
                        dd
                            a(href="tel:+375298921255") +375-(29)-892-12-55
                        dt Email:
                        dd
                            a(href="mailto:allie.que.sonrie@gmail.com") allie.que.sonrie@gmail.com
                        dt GitHub:
                        dd
                            a(href="https://github.com/Elianta/", target="_blank", rel="noopener noreferrer") elianta

                section.cv__section
                    h2.cv__title-medium Skills
                    ul.cv__list
                        li JavaScript (ES5, ES6)
                        li React.js, Next.js
                        li Styled-components
                        li HTML5, CSS3
                        li Git
                        li Pug, SASS
                        li Gulp, Webpack
                        li Swiper, GSAP

                section.cv__section
                    h2.cv__title-medium Projects
                    ul.cv__list
                        li
                            a(href='https://soyuz.by/' target='_blank') soyuz.by
                        li
                            a(href='https://fh.by/' target='_blank') fh.by
                        li
                            a(href='https://bdcenter.digital' target='_blank') bdcenter.digital
                        li
                            a(href='https://movado-group.ru/' target='_blank') movado-group.ru
                        li
                            a(href='https://alutech.ru' target='_blank') alutech.ru
                        li
                            a(href='https://www.paralect.com/' target='_blank') paralect.com
                        li
                            a(href='https://bulba.com/' target='_blank') bulba.com

            .cv__right
                section.cv__section
                    h2.cv__title-medium Introduction
                    p
                    | Making all possible efforts to increase my level of knowledge
                    | and quality of work with each project I do, each course I pass
                    | and each book I read.

                section.cv__section
                    h2.cv__title-medium Experience
                    ul.cv__list
                        li
                            p.cv__block
                                a(href='https://websecret.by' target='_blank') Web Secret
                                | , Minsk, Belarus
                            p.cv__block
                                b Frontend Developer
                                | ,
                                span.cv__accent August 2019 - present
                                p.cv__block
                                | Creating online stores, news portals using React.js with Next.js framework.
                        li
                            p.cv__block
                                a(href='https://flex.media/' target='_blank') Flex.Media
                                | , Minsk, Belarus
                            p.cv__block
                                b Frontend Developer
                                | ,
                                span.cv__accent August 2018 - July 2019
                                p.cv__block
                                | Creating adaptive websites according to Figma Design
                                | Template using HTML, CSS and JS, maintaining and improving
                                | website.
                        li
                            a.cv__block(href='https://www.acdlabs.com/' target='_blank') Advanced Chemistry Development, Inc.
                            | , Minsk, Belarus
                            p.cv__block
                            b QA Engineer
                            | ,
                            span.cv__accent March 2014 - August 2017
                            p.cv__block
                            | Testing of the software solutions for scientists in
                            | chemical, biochemical and pharmaceutical R&amp;D.

                section.cv__section
                    h2.cv__title-medium Education
                    ul.cv__list
                        li
                            span.cv__accent 2017:
                            |  JavaScript basic course
                            a(href='https://assets.htmlacademy.ru/certificates/intensive/49/84441.pdf' target='_blank') htmlacademy.ru
                        li
                            span.cv__accent 2016:
                            |  HTML &amp; CSS advanced course
                            a(href='https://assets.htmlacademy.ru/certificates/intensive/30/84441.pdf' target='_blank') htmlacademy.ru
                        li
                            span.cv__accent 2015:
                            |  HTML &amp; CSS basic course
                            a(href='https://assets.htmlacademy.ru/certificates/intensive/10/84441.pdf' target='_blank') htmlacademy.ru
                        li
                            span.cv__accent 2010-2015:
                            |  BSU (Chemistry faculty)
                section.cv__section
                    h2.cv__title-medium Languages
                    p
                        b English
                        | :
                        span.cv__accent A2 level