extends ./templates/_skeleton

block content
    .content
        .decor.decor--1
        .decor.decor--2.decor--invert
        article.cv
            .cv__inner
                header.cv__header
                    div
                        h1.cv__title 
                            span.name Alexandra 
                            span Kashina
                        p.cv__prof frontend developer (#[strong react.js])
                        div.cv__info
                            div.cv__icon
                                include ./img/excl-mark.svg
                            | Visa sponsorship is not required, B2B contract 
                    div.cv__desc
                        p 
                            | As a Front-End Developer, I have #[strong over 5 years] of experience in 
                            | creating user interfaces.
                        p 
                            | I specialize in building complex systems, including e-commerce platforms and administrative tools, with a strong focus on user experience, responsiveness, and code quality.
                        p 
                            | #[strong Let's connect] and see how I can 
                            | add value to your team and organization.


                .cv__content
                    .cv__left
                        section.cv__section
                            h2.cv__card.cv__subtitle Contacts
                            dl.cv__contacts
                                dt Phone:
                                dd
                                    a(href="tel:+48572164038") +48 572 164 038
                                dt Email:
                                dd
                                    a(href="mailto:allie.que.sonrie@gmail.com") allie.que.sonrie@gmail.com
                                dt GitHub:
                                dd
                                    a(href="https://github.com/Elianta/" target="_blank" rel="noopener noreferrer") elianta
                                dt Location:
                                dd 
                                    a(href="https://maps.app.goo.gl/NYPbDbzwroMr8mt8A" target="_blank" rel="noopener noreferrer") Warsaw, Poland

                        section.cv__section
                            h2.cv__card.cv__subtitle Skills
                            ul.cv__list
                                li JavaScript, TypeScript
                                li React.js, Next.js
                                li Redux, RTK Query
                                li HTML5, CSS3, SASS/SCSS
                                li Tailwind CSS, Styled-components
                                li Git, Gulp, Webpack
                                li Cross-browser Compatibility
                                li Debugging, React Developer Tools
                                li Jest, Vitest

                        section.cv__section
                            h2.cv__card.cv__subtitle Projects
                            ul.cv__list.cv__list--projects
                                li
                                    a(href='https://admiral.dev.family/' target='_blank') Admiral
                                    a.cv__icon.cv__icon--gh(href='https://github.com/dev-family/admiral' target='_blank')
                                        include ./img/github-mark.svg
                                li
                                    a(href='https://fh.by/' target='_blank') Fashion House
                                li
                                    a(href='https://solana.multisender.app/' target='_blank') Solana Multisender
                                li
                                    a(href='https://movado-group.ru/' target='_blank') movado-group.ru
                                li
                                    a(href='https://alutech.ru' target='_blank') alutech.ru
                        section.cv__section
                            h2.cv__card.cv__subtitle Languages
                            ul.cv__list
                                li
                                    b Russian
                                    | :
                                    span.cv__accent Native
                                li
                                    b English
                                    | :
                                    span.cv__accent B2+ level
                        section.cv__section
                            h2.cv__card.cv__subtitle Education
                            ul.cv__list
                                li
                                    span.cv__accent
                                        time(datetime="2023-09") 2023
                                    a(href='https://app.rs.school/certificate/8peneto7' target='_blank') NodeJS course 
                                    |  &ndash; The Rolling Scopes School 

                                li
                                    span.cv__accent 
                                        time(datetime="2010") 2010
                                        |   &ensp;&ndash;&ensp;
                                        time(datetime="2015") 2015
                                    span
                                        | Belarusian State University &ndash; Bachelor's degree in Analytical Chemistry

                    .cv__right
                        section.cv__section
                            h2.cv__card.cv__subtitle Experience
                            ul.cv__list
                                li
                                    p.cv__block
                                        b.cv__company Freelance (Self-employed)
                                        | , Warsaw, Poland
                                    p.cv__block
                                        b Frontend Developer (React.js)
                                        | ,
                                        span.cv__accent 
                                            time(datetime="2024-01") January 2024
                                            |   &ensp;&ndash;&ensp;
                                            time Present
                                    ul.cv__list.cv__list--inner
                                        li
                                            | Designed and implemented a complex electronic queue management system, consisting of applications for terminals, operators, and administrative panels.
                                        li 
                                            | Developed a desktop application enabling users to print tickets for selected procedures, using Electron.js and WebSockets for real-time updates of queue availability.
                                        li 
                                            | Integrated advanced ticket-handling features, such as calling, redirecting, postponing, and finishing, with live updates through WebSockets.
                                        li 
                                            | Created a customizable ticket design interface, allowing administrators to configure themes and preview changes instantly via SVG rendering.
                                        li 
                                            | Developed an authentication system with secure login/logout, user data management, and protected routes.
                                        li 
                                            | Implemented a reusable modal system, supporting multistep forms for enhanced user interactions.
                                li
                                    p.cv__block
                                        b.cv__company Sabbatical
                                        | ,
                                        span.cv__accent 
                                            time(datetime="2022-09") September 2022
                                            |   &ensp;&ndash;&ensp;
                                            time(datetime="2024-01") January 2024
                                    ul.cv__list.cv__list--inner
                                        li
                                            | Relocated to Poland and actively pursued professional development.
                                        li
                                            | Completed language courses: Polish (A1), English (B2+).
                                        li
                                            | Completed a Node.js course, gaining expertise in backend development.
                                li
                                    p.cv__block
                                        a(href='https://dev.family/' target='_blank') dev.family
                                        | , Minsk, Belarus
                                    p.cv__block
                                        b Frontend Developer (React.js)
                                        | ,
                                        span.cv__accent 
                                            time(datetime="2019-08") August 2019
                                            |   &ensp;&ndash;&ensp;
                                            time(datetime="2022-09") September 2022
                                    ul.cv__list.cv__list--inner
                                        li
                                            | Led recruitment efforts, conducting technical interviews, onboarding, and training junior developers, while maintaining high-quality standards through code reviews.
                                        li 
                                            | Architected and maintained a 
                                            a(href='https://admiral.dev.family/' target='_blank') npm package
                                            | , streamlining the creation of CRUD (create/read/update/delete) pages. Features included dynamic tables, data manipulation forms, advanced filters, sorting, and support for responsive design, localization, and customizable themes.
                                        li 
                                            | Developed a Real Estate Portal for property buyers and renters. Features included a property catalog with filters, sorting, and product cards, image galleries, an interactive map with area-based search, multi-select search forms, an authentication system, user wishlists, and dynamic property pages.
                                        li 
                                            | Developed a blockchain project for sending Sol and SPL tokens within the Solana network. Features included CSV import for bulk transfers, Phantom/Solflare wallet integration, and optimized transaction processing.
                                        li 
                                            | Developed an e-commerce platform for global fashion brands with features like product catalogs, advanced filters, sorting, and product pages with image galleries. Included cart management, a checkout form, recommendations, user wishlists, customizable brand pages, and an authentication system for user data management.
                                        li 
                                            | Usually worked in cooperation with Backend Developer, Designer, and Product Manager.
                                li
                                    p.cv__block
                                        a(href='https://flex.media/' target='_blank') Flex.Media
                                        | , Minsk, Belarus
                                    p.cv__block
                                        b Frontend Developer
                                        | ,
                                        span.cv__accent 
                                            time(datetime="2018-08") August 2018
                                            |   &ensp;&ndash;&ensp;
                                            time(datetime="2019-07") July 2019
                                    ul.cv__list.cv__list--inner
                                        li
                                            | Built adaptive landing pages and corporate multipage websites based on Figma designs, ensuring responsiveness and cross-browser compatibility.
                                        li
                                            | Enhanced user experience by implementing SVG animations, parallax effects, and smooth page transitions.
                                li
                                    p.cv__block
                                        a(href='https://www.acdlabs.com/' target='_blank') Advanced Chemistry Development, Inc.
                                        | , Minsk, Belarus
                                    p.cv__block
                                        b QA Engineer
                                        | ,
                                        span.cv__accent 
                                            time(datetime="2014-03") March 2014
                                            |   &ensp;&ndash;&ensp;
                                            time(datetime="2017-08") August 2017
                                    ul.cv__list.cv__list--inner
                                        li
                                            | Tested the software solutions for scientists in chemical, biochemical and pharmaceutical R&amp;D.


